[submodule "comonad"]
	path = comonad
	url = git@github.com:lynnard/comonad
[submodule "cpphs"]
	path = cpphs
	url = git@github.com:lynnard/cpphs
[submodule "distributive"]
	path = distributive
	url = git@github.com:lynnard/distributive
[submodule "happy"]
	path = happy
	url = git@github.com:lynnard/happy
[submodule "lens"]
	path = lens
	url = git@github.com:lynnard/lens
[submodule "old-time"]
	path = old-time
	url = git@github.com:lynnard/old-time
[submodule "polyparse"]
	path = polyparse
	url = git@github.com:lynnard/polyparse
[submodule "semigroupoids"]
	path = semigroupoids
	url = git@github.com:lynnard/semigroupoids
