[submodule "comonad"]
	path = comonad
	url = git@github.com:lynnard/comonad
[submodule "cpphs"]
	path = cpphs
	url = git@github.com:lynnard/cpphs
[submodule "distributive"]
	path = distributive
	url = git@github.com:lynnard/distributive
[submodule "lens"]
	path = lens
	url = git@github.com:lynnard/lens
[submodule "old-time"]
	path = old-time
	url = git@github.com:lynnard/old-time
[submodule "polyparse"]
	path = polyparse
	url = git@github.com:lynnard/polyparse
[submodule "semigroupoids"]
	path = semigroupoids
	url = git@github.com:lynnard/semigroupoids
[submodule "dependent-sum"]
	path = dependent-sum
	url = git@github.com:lynnard/dependent-sum
[submodule "process"]
	path = process
	url = git@github.com:lynnard/process
[submodule "haskell-src-exts"]
	path = haskell-src-exts
	url = git@github.com:lynnard/haskell-src-exts
[submodule "dependent-map"]
	path = dependent-map
	url = git@github.com:lynnard/dependent-map
[submodule "beam"]
	path = beam
	url = git@github.com:lynnard/beam
[submodule "stm-chans"]
	path = stm-chans
	url = git@github.com:lynnard/stm-chans
